{% extends "layouts/base.html" %}
{% block title %} Add New Book {% endblock title %}

{% block content %}
<h2 style="text-align:center;">➕ Add a New Book</h2>

<form method="POST" style="width: 50%; margin: auto;">
    {% csrf_token %}
    <label>Title:</label><br>
    <input type="text" name="title" required><br><br>

    <label>Author:</label><br>
    <input type="text" name="author" required><br><br>

    <label>Price:</label><br>
    <input type="number" name="price" step="0.01" required><br><br>

    <label>Edition:</label><br>
    <input type="number" name="edition" required><br><br>

    <button type="submit" style="background-color:#4CAF50; color:white; padding:8px 20px;">Save</button>
    <a href="{% url 'lab10_task1.listbooks' %}" style="margin-left: 15px;">Cancel</a>
</form>
{% endblock content %}
