{% extends "layouts/base.html" %}
{% block title %} Lab 9 - Task 4 {% endblock title %}

{% block content %}
<h1 style="text-align:center;">Departments with More Than 2 Students</h1>

<table border="1" style="margin:auto; width: 60%; text-align:center;">
    <tr style="background-color: #4CAF50; color: white;">
        <th>Department</th>
        <th>Number of Students</th>
    </tr>
    {% for dept in departments %}
    <tr>
        <td>{{ dept.name }}</td>
        <td>{{ dept.student_count }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
